<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Famous Scientists</title>
    <link rel="stylesheet" href="../../../../static/main.css">
  </head>
  <body>
    <header>
      <h1><a id="title" href="{{url_for('startPage')}}">Awards in Science!</a></h1>
      <div class="loginInfo">
        {% if loginName %}
        <div class="loginCheck">
          <p class="name">{{loginName}}</p>
          <a class="name" href="{{url_for('gdisconnect')}}">Log Out</a>
        </div>
          <img src="{{loginPic}}" class="miniPic">
      </div>
      {% else %}
        <a class="linkButton" href="{{url_for('showLogin')}}">Login</a>
      </div>
      {% endif %}
    </header>
    <main>
      <nav class="borders">
        <h3 id="awards">Awards</h3>
        <ul>
          {% for a in awards %}
            {% if a.id == award.id %}
            <li><a class="selectedAward" href="{{url_for('award', award_id=a.id)}}"><strong>{{a.name}}</strong></a></li>
            {% else %}
            <li><a href="{{url_for('award', award_id=a.id)}}">{{a.name}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
        </a>
      </nav>
      <section class="borders" id="info">
        <div id="topBar">
          <h2>{{bio.name}}</h2>
          <div class="topLineOffset">
            <a href="{{url_for('editBio', award_id=award.id, bio_id=bio.id)}}">Edit</a><br>
            <a href="{{url_for('deleteBio', award_id=award.id, bio_id=bio.id)}}">Delete</a>
          </div>
        </div>
        <div>
          <p class='bioInfo'> Year awarded: {{bio.year}} <br>
          Discipline: {{bio.discipline}}</p>
          <p>{{bio.description}}</p>
        </div>

      </section>
    </main>
  </body>
</html>
